.TudoHome{
  margin-left: 150px;
  
}

.TudoHome h1{
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 0px;
}

.InfoGeral{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap; /* Permite que os elementos sejam empilhados quando necessário */
  gap: 10px; /* Espaçamento entre elementos */
}

.InfoTotal{
  display: flex;
  flex-direction: column;
  width: 240px;
  border-radius: 15px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #6e77cc 0%, #3f0ecc 100%);
  color: white;
  margin: 10px;
  padding: 10px;
  box-shadow: 1px 1px 40px rgb(212, 212, 212);
}
.InfoTotal:hover {
  background-color: #5e67cc;
  box-shadow: 1px 1px 10px rgb(112, 112, 212);
  transform: scale(1.1); 
  transition: 0.2s;
  
}
.InfoGastos:hover, .InfoCreditos:hover,.Teste:hover{
  border:3px solid #5e67cc;
  transform: scale(1.1); 
  transition: 0.2s;
}

.InfoSaldo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-radius: 15px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #6967e4 0%, #3f0ecc 100%);
  color: white;
  padding: 10px;
  box-shadow: 5px 5px 1px rgb(212, 212, 212);
}

.Teste{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  width:240px;
  padding: 10px;
  
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 1px rgb(228, 228, 228);
}

.InfoGastos, .InfoCreditos,.graficoDePizza{
  display: flex;
  flex-direction: column;
  width: 240px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 1px rgb(228, 228, 228);
}

.graficoDePizza {
  display: flex;
  width:100%; 
  padding:30px;
  flex-direction: column;
  align-items:center;
  
}
.VerMais{
  text-decoration: none;

}

.InfoTotal p, .InfoGastos p, .Teste p,.InfoCreditos p {
  background-color: transparent;
  display: flex;
  flex-direction: row;
}
