*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-title: Georgia, 'Times New Roman', Times, serif;
  --font-size: 1.2rem;
  --color: #19f;
  --color-light: #adf;
  --color-dark: #018;
  --radius: 0.2rem;
  /* #6CD4FF #8B80F9 */
}
/* 
body {
  margin: 1.5rem;
} */

body,
input,
textarea,
button,
p {
  font-size: var(--font-size);
  font-family: var(--font);
}

h1,
h2,
h3 {
  font-family: var(--font);
}

h1,
h2,
h3,
p,
ul {
  margin: 1rem 0;
}

ul {
  list-style: square;
}

li {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

input,
textarea {
  display: block;
  border: 1px solid #190933;
  
  padding: 0.8rem;
  border-radius: var(--radius);
  background: #eee;
  transition: 0.2s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #5f50ff;
  background: white;
  box-shadow: 0 0 0 3px var(--color-light);
}

button {
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
  transition: 0.1s;
  background: #5f50ff;
  color: var(--color-dark);
  padding: 0.8rem 1.6rem;
}

button:hover,
button:focus {
  background: var(--color);
  box-shadow: 0 0 0 3px var(--color-light), 0 0 0 4px var(--color);
  outline: none;
}

button:active {
  box-shadow: 0 0 0 3px var(--color), 0 0 0 4px var(--color);
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}

hr {
  border: 2px solid black;
  margin: 2rem auto;
}
.primeiroGrafico, .segundoGrafico, .pieGrafico{
  margin-top: 50px;
}

.Menu{
  display: flex;
  
  flex-direction: row;
  align-items:center;
  justify-content:flex-start;
  gap: 9%;

  font-weight: bold;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  /* border-radius: 9px; */
  padding: 10px;
  box-shadow: 5px 5px lightblue;

  background-color: rgb(255, 255, 255);
}
 /* .Saldo{
  display: flex;
  font-size: small;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  border: 2px solid #5f50ff;
  margin: 15px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  width: 50%;
  border-radius: 8px;
  box-shadow: 5px 5px lightblue;

 } */
 .Saldo {
  display: flex;
  font-size: small;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid #5f50ff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 5px 5px lightblue;
  width: auto; /* Ajusta automaticamente a largura com base no conteúdo */
  height: auto; /* Ajusta automaticamente a altura com base no conteúdo */
}

 
 .Saldo:hover{
  h1{
    color: #9c32ff;
    transition: 200ms;
  }
  

 }
input{
  
  margin: 25px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  width: 50%;
  border-radius: 9px;
  
  box-shadow: 5px 5px lightblue;
 
  background-color: rgb(255, 255, 255);
}
.NavLink{
  color: rgb(0, 0, 0); 
 
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}
.NavLink:hover{
  
  border: 2px solid #8278f5;
  color: rgb(0, 0, 0); 
  border-radius: 5px;
  padding: 10px;
  
  transition:100ms;
}
.NavLink :active{
  
  border: 3px solid #5f50ff;
  color: rgb(0, 0, 0); 
  border-radius: 5px;
  padding: 10px;
  
  transition:100ms;
}
.active{
  border: 3px solid #5f50ff;
  color: rgb(0, 0, 0); 
  border-radius: 10px;
  padding: 10px;
  
}
.valores{
  color: rgb(0, 0, 0);
  font-size: smaller;
  padding: 25px;
  border: 1px dashed #5f50ff;
  border-radius: 5px;
}
.logo{
  
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.Menu img{
  font-weight: bold;
  margin-left: 20px;
 
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 5px 5px lightblue;
  
}
.Menu img:hover{
  font-weight: bold;
  margin-left: 20px;
 
  border: 4px solid #5f50ff;
  box-shadow: 3px 3px lightblue;
  transition:100ms;
}
.MenuBar{
 
  width: 90px;
  height: 90px;
  border-radius: 10px;
  border: 4px solid #5f50ff;

  background-color: rgb(255, 255, 255);
}
.download{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  gap: 16%;
  font-weight: bold;
  
  
  /* border-radius: 9px; */
  padding: 10px;
  box-shadow: 5px 5px lightblue;

    background-color: rgb(255, 255, 255);
}

.download{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-top: 50px;
  font-weight: bold;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  box-shadow: 5px 5px lightblue;
  background-color: rgb(255, 255, 255);
}

.download .clickDownload{
  
  
  font-weight: bold;
  border: 2px solid rgb(0, 0, 0);
  padding: 40px;
  box-shadow: 5px 5px lightblue;
  background-color: rgb(255, 255, 255);
}
button{
  font-size: larger;
  margin: 25px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  width: 50%;
  border-radius: 9px;
  
  box-shadow: 5px 5px lightblue;
 
}

.Mês{
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: larger;
  margin: 25px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  width: 50%;
  border-radius: 9px;
}
.arquivoDeQuem{
  font-size: larger;
  margin: 25px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  width: 50%;
  border-radius: 9px;
}
.verSaldoEtc {
  padding: 10px;
  position:absolute;
  margin-top: 5px;
  z-index: 9;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  width: 20%;
  height:70%;
  border-radius: 9px;
  transform: translateX(-70px);
  animation: animeLeft 0.4s forwards;
}


@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}